*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    padding: 10px;
}
.wrapper{
    margin: 60px auto;
    max-width: 1100px;
}
.wrapper nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .items{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 720px;
    width: 100%;
    gap: 10px;
}
nav .items .item{
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #007bff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
nav .items .active,
nav .items .item:hover{
    color: #fff;
    background:#007bff ;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.gallery .image{
    width: calc(100% /4);
    padding: 7px;
}
.gallery .image.hide{
   display: none;
}
.gallery .image.show{
    display: block;
    animation: animate 0.4s ease;
 }

@keyframes animate{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

.gallery .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.gallery .image:hover img{
   transform: scale(1.1);
}
.preview-box{
    position: fixed;
    z-index: 5;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.preview-box .image-box{
    display: flex;
    width: 100%;
}
.image-box img{
    width: 100%;
    border-radius: 0 0 5px 5px;
}
.preview-box .details{
    display: flex;
    justify-content: space-between;
    padding: 13px 15px 13px 15px;
    align-items: center;
}
.preview-box .details .title{
    display: flex;
}
.details .title p{
    margin-left: 5px;
    font-weight: 500;
}
.details b{
    font-size: 20px;
    cursor: pointer;
    color: #007bff;
}
.details a{
    background: #fff;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    padding: 3px;
    border-radius: 10px;
}
.shadow{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.4);
}
.shadow.show{
    display: block;
}

.preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.name{
    margin-top: 20px;
    display: flex;
    justify-content: center;  
}
.name .pname{
    display: flex;
    align-items: center;
    justify-content: center;
}
.name h1{
    font-size: 60px;
}
.pimge img{
    width: 100px;
}
.links{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.links i{
    font-size: 50px;
}

@media(max-width: 1000px){
    .gallery .image{
        width: calc(100% /3);
    }
}
@media(max-width: 800px){
    .gallery .image{
        width: calc(100% /2);
    }
}
@media(max-width: 700px){
    nav .items{
        max-width: 600px;
    }
    nav .items .item{
        padding: 10px 15px;
    }
    .name h1{
        font-size: 40px;
    }
}
@media(max-width: 600px){
    nav .items{
        flex-wrap: wrap;
        justify-content: center;
    }
    nav .items .item{
        margin: 5px;
    }
    .gallery .image{
        width: 100%;
    }
    .name h1{
        font-size: 30px;
    }
    .name{
        margin-top: 10px;
        display: flex;
        justify-content: center;  
        align-items: center;
    }
}